@import url('https://fonts.googleapis.com/css2?family=Nanum+Myeongjo&display=swap');




* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    font-family: 'Nanum Myeongjo', serif;
}

/* headings and logo */

h1 {
    text-transform: uppercase;
    letter-spacing: 3px;
}

#logo {
    float: left;
    font-size: 280%;
}