@import url('https://fonts.googleapis.com/css2?family=Rokkitt:wght@100&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Rokkitt', serif;
    font-weight: 300;
}

/* headings and logo */

h1 {
    text-transform: uppercase;
    letter-spacing: 3px;
}

#logo {
    float: left;
    font-size: 280%;
}

/* navigation and menu */

#menu {
    font-size: 110%;
    letter-spacing: 3px;
}

#menu #logo {
    line-height: 75px;
}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 30px;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    border-bottom: 1px solid purple;
}

.active {
    border-bottom: 1px solid purple;
}

/* hero image and cover text */
#hero-outer {
    height: 600px;
    width: 100%;
    overflow: hidden;
    position: relative;
}

#cover-text,
#cover-text h2 {
    color: #fff;
}

#hero-image {
    height: 600px;
    width: 100%;
    background: url('../images/image-from-rawpixel-id-2307563-jpeg.jpg') no-repeat center center;

    /* animates zoom effect on loading page */
    animation-name: hero-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}

/* creates the level of zoom for hero image */
@keyframes hero-zoom {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(1.1);
    }
}

#cover-text {
    font-family: 'Rokkitt', serif;
    letter-spacing: 3px;
    text-align: left;

    width: 50%;
    color: black;
    background: rgb(255, 255, 255);
    background: linear-gradient(90deg, rgba(255, 255, 255, 1) 0%, rgba(33, 162, 178, 1) 100%);
    top: 50px;
    bottom: 50px;
    right: 0;

    position: absolute;

    padding-left: 100px;
    padding-top: 100px;
}

#cover-text h2 {
    font-size: 2rem;
    color: black;
    
}

#cover-text h3 {
    font-size: 1.5rem;
    font-weight: 100;
}

#cover-text p {
  padding-top: 10px;
  font-weight: 300;
}